<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Green2Go</title>
  <link rel="icon" href="../images/logo-nav.png" /> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">


</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->
  <section id="home" class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="#about" title="Home"><img alt="Shuddha Logo" height="200" src="../images/logo.png"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
         <span class="greenHead">Feel The Purity</span> 
        </h1>

        <p class="tagline">
         <span class="greenHead">Made With Recycled Flowers</span> 
        </p>
        <a class="btn btn-full" href="#about">Get Started Now</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->

  <!-- Header -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <div id="spacemj"></div>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a target="" class="btnAbout" href="">About Us</a></li>
          <li><a target="" class="btnfeatures" href="">Features</a></li>
          <li><a target="" class="btnProducts" href="">Products</a></li>
          <li><a target="" class="btnTeam" href="">Team</a></li>
          <li class="menu-has-children"><a target="" class="btnEvent"  href="">Event</a></li>
          <li><a target="" class="btnContact" href="">Contact Us</a></li>
          <li class="d-flex">
              <a target="_blank" href="https://twitter.com/green2gomission"><i class="fa fa-twitter"></i></a> 
              <a target="_blank" href="https://www.facebook.com/green2goinitiative"><i class="fa fa-facebook"></i></a> 
              <a target="_blank" href="https://in.linkedin.com/company/green2gomission"><i class="fa fa-linkedin"></i></a>
              <a target="_blank" href="mailto: hello@green2go.in"><i class="fa fa-envelope"></i></a>
              <a target="_blank" href="https://www.instagram.com/green2goinitiative/"><i class="fa fa-instagram"></i></a>
              <a target="_blank" href="tel: +919893700826"><i class="fa fa-phone"></i></a>
          </li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <!-- <nav class="nav social-nav pull-right  d-lg-inline">
          <a target="_blank" href="https://twitter.com/green2gomission"><i class="fa fa-twitter"></i></a> 
          <a target="_blank" href="https://www.facebook.com/green2goinitiative"><i class="fa fa-facebook"></i></a> 
          <a target="_blank" href="https://in.linkedin.com/company/green2gomission"><i class="fa fa-linkedin"></i></a>
          <a target="_blank" href="mailto: hello@green2go.in"><i class="fa fa-envelope"></i></a>
          <a target="_blank" href="https://www.instagram.com/green2goinitiative/"><i class="fa fa-instagram"></i></a>
          <a target="_blank" href="tel: +919893700826"><i class="fa fa-phone"></i></a>
      </nav> -->
    </div>
  </header>
  <!-- #header -->

  <!-- About -->
  <section class="about" id="about">
    <div class="container text-center">
      <h2>
        About Us
      </h2>
      <p>
        "Green2Go is an organization dedicated towards recycling of flowers collected from 
        temples & lakes and making various herbal and pure products like incense sticks, 
        dhoop sticks, vermicompost, soaps etc. which equals to 5000 crore industry in India,  
        <br> we majorly want to mainstream flora incense sticks and replace charcoal incense sticks 
        which is cancerous. Our goal includes giving employment to 1000 women and recycling 20000 
        tonnes of flowers by 2022. 
        As our tagline says  <br> "Good Better Green", Green is Future"
      </p>
      <div class="row stats-row">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">2,05,878</span> Satisfied Customers
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">2,57,348</span> Products delivered
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">14</span> Tonnes of Flowers used
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">15</span> Dedicated Workers
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About -->
  <!-- Parallax -->

  <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="../images/parallax-bg.jpg"
    data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
    <div id="overlay">
      <br>
      <h2 class="">Our Team</h2>     
    </div>
    <img alt="" class="gadgets-img hidden-md-down" src="img/gadgets.png">
  </div>
  <!-- /Parallax --> 
  <!-- Features -->

  <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
        Features
      </h2>
      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-rocket"></span>
              </div>
            </div>

            <div>
              <h3>
                Recycled Products
              </h3>

              <p>
                Dedicated towards recycling of flowers collected from temples, lakes, making various herbal and pure products. 
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-envelope"></span>
              </div>
            </div>

            <div>
              <h3>
                Seed Embedded Stand 
              </h3>

              <p>
                We are giving 'mitti stand' in every box, which has tulsi(basil) seeds in it,
                so use and just sow the mitti stand and a tulsi plant will grow,
                therefore Go Green. 
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-bell"></span>
              </div>
            </div>

            <div>
              <h3>
                No Plastic
              </h3>
              <p>
                Not even 0.01% plastic used in our products and packaging used in our
                 products i.e,100% biodegradable
              </p>
            </div>
          </div>
        </div>
      </div>

      


  </section>
  <!-- /Features -->
 
  <!-- Portfolio -->

  <section class="portfolio" id="products">
    <div class="container text-center">
      <h2>
        Products
      </h2>

    </div>

    <div class="portfolio-grid">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="../images/porf-1.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Choclate
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="../images/porf-2.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Sunflower
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="../images/porf-3.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Marigold
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="../images/porf-4.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Rose
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Portfolio -->
  <!-- Team -->

  <!-- <section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
        Meet our team
      </h2>

      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="../images/team-1.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Shreyas Pande</span> <span class="card-text">Founder and CEO</span>
              </div>
              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>
                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </nav>

                <p>
                  MBA, Cardiff University, UK
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="../images/team-2.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Atharva Kulkarni</span> <span class="card-text">Co-Founder and CTO</span>
              </div>
              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>
                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> 
                   <a href="#"><i class="fa fa-linkedin"></i></a>
                </nav>
                <p>
                  B.Tech, Bhopal (Running)
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /Team -->
  <!-- @component: footer -->

  <section class="portfolio" id="event">
      <div class="container text-center">
        <h2>
          Events
        </h2>  
        <marquee class="container mark_slide" behavior="" direction="">
            <img height="500" src="https://images.unsplash.com/photo-1562887189-7c2ae6ace6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <img height="500" src="https://images.unsplash.com/photo-1564934304050-e9bb87a29c13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            <img height="500" src="https://images.unsplash.com/photo-1562887340-dcaf16c02011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <img height="500" src="https://images.unsplash.com/photo-1562887189-7c2ae6ace6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <img height="500" src="https://images.unsplash.com/photo-1564934304050-e9bb87a29c13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
            <img height="500" src="https://images.unsplash.com/photo-1562887340-dcaf16c02011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
          </marquee>
          <br> <br>
      </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Contact Us</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>145, zone-2, MP Nagar<br>bhopal, MP 462023</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>Hello@green2go.in</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>9893 700 826</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="/subscribe" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © Shuddha Bharat
            </p>
            <div class="credits">
              Designed by <a href="https://mokshajain.herokuapp.com/">Moksha</a> & <a href="https://instagram.com/badshah_257?igshid=7izy5qob9mkp">Lakchchayam</a>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="btnHome" href="">Home</a>
              </li>
              <li class="list-inline-item">
                <a class="btnAbout" href="">About Us</a>
              </li>
              <li class="list-inline-item">
                <a class="btnfeatures" href="">Features</a>
              </li>
              <li class="list-inline-item">
                <a class="btnEvent" href="">Event</a>
              </li>
              <li class="list-inline-item">
                <a class="btnTeam" href="">Team</a>
              </li>
              <li class="list-inline-item">
                <a class="btnProducts" href="">Products</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>

  <!-- JavaScript ki libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/js/superfish.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="../javascripts/sticky.js"></script>
  <script src="../javascripts/parallax.js"></script>
  <script src="../javascripts/custom.js"></script>
  <script src="../javascripts/script.js"></script>
</body>
</html>